.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    padding: 0 30px;
}

.myModal_content {
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 5px;
    height: 250px;
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}


