.myInput:active {
    outline: none;
}

.myInput:focus {
    outline: none;
}
.myInput {
    font-family: 'Fredoka', sans-serif;
    width: 45%;
    height: 10px;
    color: black;
    padding: 7px 0;
    border-bottom: 1px solid lightgrey;
    font-size: 20px;
    background: transparent;
}

