@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
}

.App {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0 15px;
}

.todos {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
    padding: 0 30px;
}

.todo_elem {
    min-height: 40px;
    padding: 10px;
    width: 100%;
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

.todo_elem.active {
    background-color: lightgreen;
}

.todo_title {
    font-family: 'Fredoka', sans-serif;
    font-size: 20px;
}

.todo_info {
    width: 91%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo_info > button {
    width: 41%
}

.todo_form {
    font-family: 'Fredoka', sans-serif;
    height: 77%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}

.todo_elem_number {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Fredoka', sans-serif;
}
.todo_title{
    max-width: 140px;
    word-wrap: break-word;
}




@media (max-width: 620px) {
    .todo_elem > button{
        font-size: 16px;
        padding:0;
    }
    .todo_elem > *{
        padding: 0 10px;
    }
}

@media (max-width: 444px) {
    .todo_elem > *{
        padding: 0 10px;
    }
    .todos{
        width: 77%;
    }
    .todo_elem > button{
        font-size: 12px;
        border: none;
        padding: 0 20px;
    }
    .todo_elem > button > img{
        width: 24px;
    }
    .todo_elem > button:hover{
        color: black;
        border: none;
    }
    .todo_title{
        max-width: 76px;
        font-size: 16px;
    }
    .todo_elem_number{
        font-size: 15px;
    }
    .todo_form > h1{
        font-size: 20px ;
    }
    .todo_info > input{
        font-size: 16px;
    }
    .todo_info > button{
        font-size: 15px;
    }
    .todo_title > div > input{
        font-size: 15px
    }
    .todo_elem_input{
        width: 10px;
    }
}